@import url('https://fonts.googleapis.com/css2?family=Itim&family=Karla+Tamil+Upright:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    width: 100%;
}

.section-01 {
    display: flex;
    align-items: center;
    gap: 800px;
    padding-left: 50px;
    padding-right: 50px;
    color: black;
}

a {
    color: black;
    text-decoration: none;
    font-family: "Roboto";
}

.section-01,
h1 {
    font-weight: 400;
    font-family: "Roboto";
}

.section-02 {
    display: flex;
    gap: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.section-02 img {
    width: 400px;
}

b {
    font-family: "Roboto";
}

.section-03 {
    background-color: #4D1727;
    width: 1000px;
    height: 150px;
    border-radius: 5px;
    position: relative;
    left: 150px;
    top: 100px;
}

.section-03,
h2 {
    padding: 20px 70px;
}

h2 {
    font-size: 40px;
    color: #fff;
    display: flex;
    align-items: center;
    font-family: sans-serif;
}

span {
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 5px;
    position: relative;
    left: 10px;
    color: #EA743C;
}

button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: 0;
    outline: none;
    margin-left: 350px;
    margin-bottom:10px ;
}

.section-04  p{
    font-family: sans-serif;
    padding-bottom: 20px;
}
.section-05  p{
    font-family: sans-serif;
    padding-bottom: 20px;
}
.section-06  p{
    font-family: sans-serif;
    padding-bottom: 20px;
}
.section-07  p{
    font-family: sans-serif;
    padding-bottom: 20px;
}
.section-08  p{
    font-family: sans-serif;
    padding-bottom: 20px;
}

.section-04 b{
    margin-left: 20px;
}
.section-05 b{
    margin-left: 20px;
}
.section-07 b{
    margin-left: 10px;
}

.section-04{
    margin-top: 200px;
    margin-left: 10px;
}
.section-05{
    margin-left: 10px;
    padding-top: 200px;
}

.section-06 b{
    margin-left: 20px;
}

.section-06{
    margin-top: 200px;
    margin-left: 10px;
}

.section-07{
    margin-top: 200px;
    margin-left: 1  0px;
}

.section-07 p{
    margin-left: 30px;
}

footer{
    display: flex;
    align-items: flex-start;
    margin-left: 30px;
    gap: 20px;
}

.section-08{
    margin-top: 200px;
    margin-left: 10px;
}


svg{
    margin-left: 50px;
    margin-top: 10px;
}

.div-last{
    display: flex;
    align-items: center;
    font-family: sans-serif;
    padding: 10px 10px !important;
}

.last{
    display: flex;
    align-items: center;
}

ul{
    list-style: none;
    display: flex;
    margin-left: 300px;
}